{% extends "base.html" %}
{% block conteudo %}

<h2>Nova Música</h2>

<form method="POST">

    <label>Título</label>
    <input name="titulo" class="form-control" required>

    <label>Duração (segundos)</label>
    <input name="duracao" type="number" class="form-control" required>

    <label>Gênero</label>
    <input name="genero" class="form-control">

    <label>Arquivo de Áudio (caminho)</label>
    <input name="arquivo" class="form-control">

    <label>Número da Faixa</label>
    <input name="faixa" type="number" class="form-control" required>

    <label>Álbum</label>
    <select name="id_album" class="form-control">
        {% for alb in albuns %}
        <option value="{{ alb.id_album }}">{{ alb.titulo }}</option>
        {% endfor %}
    </select>

    <button class="btn btn-success mt-3">Salvar</button>

</form>

{% endblock %}
