{% extends "base.html" %}
{% block conteudo %}

<h2>Músicas da Playlist: {{ playlist.nome }}</h2>

<h4>Adicionar Música</h4>

<form method="POST" action="/playlist/{{ playlist.id_playlist }}/adicionar">
    <select class="form-control" name="id_musica">
        {% for m in todas %}
        <option value="{{ m.id_musica }}">{{ m.titulo }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-primary mt-2">Adicionar</button>
</form>

<hr>

<h4>Músicas já adicionadas</h4>

<table class="table table-striped">
    <tr>
        <th>Ordem</th><th>Título</th>
    </tr>

    {% for m in musicas %}
    <tr>
        <td>{{ m.ordem }}</td>
        <td>{{ m.titulo }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
